<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <%= image_tag "servo_logo.png", class: "img-rounded" %>
    </div>
  </div>
  <div class="row-fluid">
    <h4 class="span3"></h4>
    <h4 class="span3"><font face="avenir">SERVO CERT</font></h4>
    <h4 class="span3"><font face="avenir">ROUTE PLANNER</font></h4>
    <h4 class="span3"><font face="avenir">STATION DETAIL</font></h4>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
    </div>
    <div class="span10">
      <!--Body content-->
    </div>
  </div>
</div>